In [2]:
import pandas as pd

In [10]:
# Replace 'your_file.csv' with the path to your CSV file
df = pd.read_csv('undata.csv', encoding='ISO-8859-1')

In [11]:
df.head()

,Region/Country/Area,Year,Series,Value,Footnotes,Source
1,"Total, all countries or areas",2010,"Safely managed drinking water sources, urban (...",79.7,NaN,World Health Organization (WHO) and United Nat...
1,"Total, all countries or areas",2010,"Safely managed drinking water sources, rural (...",51.3,NaN,World Health Organization (WHO) and United Nat...
1,"Total, all countries or areas",2010,"Safely managed drinking water sources, total (...",65.9,NaN,World Health Organization (WHO) and United Nat...
1,"Total, all countries or areas",2010,"Safely managed sanitation facilities, urban (P...",41.8,NaN,World Health Organization (WHO) and United Nat...
1,"Total, all countries or areas",2010,"Safely managed sanitation facilities, rural (P...",28.4,NaN,World Health Organization (WHO) and United Nat...

In [12]:
df.columns = ['Region/Country/Area', 'Year', 'Series', 'Value', 'Footnotes', 'Source']

In [13]:
# List unique Series types
print(df['Series'].unique())

['Safely managed drinking water sources, urban (Proportion of population with access)'
 'Safely managed drinking water sources, rural (Proportion of population with access)'
 'Safely managed drinking water sources, total (Proportion of population with access)'
 'Safely managed sanitation facilities, urban (Proportion of population with access)'
 'Safely managed sanitation facilities, rural (Proportion of population with access)'
 'Safely managed sanitation facilities, total (Proportion of population with access)']

In [15]:
df['Category'] = df['Series'].apply(lambda x: 'Drinking Water' if 'drinking water' in x else 'Sanitation')
df['Area'] = df['Series'].apply(lambda x: 'Urban' if 'urban' in x else 'Rural' if 'rural' in x else 'Total')

In [16]:
df.head()

,Region/Country/Area,Year,Series,Value,Footnotes,Source,Category,Area
1,"Total, all countries or areas",2010,"Safely managed drinking water sources, urban (...",79.7,NaN,World Health Organization (WHO) and United Nat...,Drinking Water,Urban
1,"Total, all countries or areas",2010,"Safely managed drinking water sources, rural (...",51.3,NaN,World Health Organization (WHO) and United Nat...,Drinking Water,Rural
1,"Total, all countries or areas",2010,"Safely managed drinking water sources, total (...",65.9,NaN,World Health Organization (WHO) and United Nat...,Drinking Water,Total
1,"Total, all countries or areas",2010,"Safely managed sanitation facilities, urban (P...",41.8,NaN,World Health Organization (WHO) and United Nat...,Sanitation,Urban
1,"Total, all countries or areas",2010,"Safely managed sanitation facilities, rural (P...",28.4,NaN,World Health Organization (WHO) and United Nat...,Sanitation,Rural

In [19]:
df.drop(columns=['Series'], inplace=True)

In [21]:
df.head()

,Region/Country/Area,Year,Value,Footnotes,Source,Category,Area
1,"Total, all countries or areas",2010,79.7,NaN,World Health Organization (WHO) and United Nat...,Drinking Water,Urban
1,"Total, all countries or areas",2010,51.3,NaN,World Health Organization (WHO) and United Nat...,Drinking Water,Rural
1,"Total, all countries or areas",2010,65.9,NaN,World Health Organization (WHO) and United Nat...,Drinking Water,Total
1,"Total, all countries or areas",2010,41.8,NaN,World Health Organization (WHO) and United Nat...,Sanitation,Urban
1,"Total, all countries or areas",2010,28.4,NaN,World Health Organization (WHO) and United Nat...,Sanitation,Rural

In [22]:
df.to_pickle("data.pkl")